<!DOCTYPE html>
<html>
<head>
  <title>Protocolos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="container">
    <% if !session[:login].blank? %>
        <h3>Sistema de Protocolos</h3>
        <nav class="navbar navbar-default navbar-static-top" >
          <div class="container">

          </div>
        </nav>
        <%= render 'layouts/user_navbar' %>
    <% end %>
  </div>
</header>

<br>
<br>
<div class="content">
  <% if notice.present? %>
      <p id="notice"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
      <p id="alert"><%= alert %></p>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
